<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../plugin/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugin/fontawesome/css/all.min.css">
    <title>Dashboard</title>
</head>

<body>
    <div class="felx-dashboard">
        <sidebar>
            <div class="sidebar-title">
                <img src="../img/Coracao1.png" alt="">
                <h2>Trilha da Saúde</h2>
            </div>
            <div class="sidebar-menu">
                <ul>
                    <li>
                        <i class="fa-solid fa-house-chimney"></i>
                        <a href="#"> Dashboard</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-user"></i>
                        <a href="#"> Perfil</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-weight-scale"></i>
                        <a href="#"> Gerenciar Peso e Altura</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-heart-pulse"></i>
                        <a href="#"> Gerenciar Pressão Arterial</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-person-running"></i>
                        <a href="#"> Gerenciar Atividade Físicas</a>
                    </li>
                    <li>
                        <i class="fas fa-utensils"></i>
                        <a href="#">Gerenciar Alimentos</a>
                    </li>
                    <li>
                        <i class="fas fa-calculator"></i>
                        <a href="#">Calcular IMC</a>
                    </li>
                </ul>
            </div>
        </sidebar>
        <main>
            <header>
                <a href="#"><i class="fa-solid fa-house-chimney"></i> Dashboard</a>
                <a href="#"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
            </header>
            <div class="main-content">
                <div class="panel">
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit morbi proin rhoncus, erat quisque platea
                        arcu iaculis quis mollis est venenatis. Augue placerat tellus adipiscing libero tristique leo
                        egestas tortor scelerisque, maximus est massa eget tincidunt eleifend iaculis sed. Sapien
                        iaculis cras taciti velit massa ridiculus gravida, varius consectetur auctor nunc ipsum per
                        aptent platea, mauris cubilia scelerisque eu dolor curae. Habitant faucibus sociosqu mattis
                        parturient consequat leo adipiscing nullam sapien varius, mus vel etiam id condimentum a semper
                        natoque elementum morbi, lacinia magna nulla class ullamcorper felis blandit ipsum amet.
                        Molestie volutpat rhoncus auctor nostra sit nascetur vulputate varius dui, mollis fusce augue
                        ultricies quam feugiat felis aenean malesuada, pulvinar tellus blandit dis mi aliquet litora
                        ullamcorper. Libero per lectus vehicula commodo feugiat vulputate phasellus adipiscing hac ad
                        proin, habitasse cras augue inceptos dis auctor tristique fusce mi. Nisi laoreet mattis senectus
                        duis nam vitae quisque sollicitudin mauris, nulla neque placerat volutpat suscipit sit etiam
                        sodales eu, commodo urna netus primis venenatis tellus molestie conubia. Vel quisque leo mollis
                        molestie faucibus scelerisque vestibulum justo cras, enim habitant sollicitudin nullam efficitur
                        porttitor tempor finibus luctus hendrerit, cursus pellentesque duis morbi neque malesuada
                        sodales facilisis.</p>

                    <p>Interdum egestas vulputate pulvinar ante amet, sodales quis leo ex, felis quam netus blandit.
                        Finibus velit turpis potenti egestas leo nunc commodo in platea, placerat fringilla orci taciti
                        hac gravida ridiculus vehicula quisque, tristique penatibus ultrices nam class mi adipiscing
                        justo. Accumsan praesent condimentum semper egestas ultricies interdum cubilia enim, fermentum
                        integer nec pellentesque parturient amet duis arcu, sem nibh libero pretium sagittis consequat
                        elit. Porttitor velit ante purus accumsan diam lectus aenean placerat, viverra massa netus hac
                        tellus quis adipiscing blandit, erat duis feugiat in phasellus sollicitudin tortor. Massa cras
                        venenatis ut enim quisque litora penatibus senectus interdum dis orci aliquam eros sit ex aptent
                        per, fusce eu nascetur platea lacinia purus turpis iaculis pharetra pretium imperdiet dictum a
                        dapibus lectus facilisi. Turpis mollis interdum leo maximus rutrum neque sapien sagittis
                        faucibus dignissim, massa senectus ullamcorper condimentum vivamus ipsum eros sociosqu tellus,
                        purus laoreet in vehicula vitae facilisis vestibulum pretium enim.</p>

                    <p>Luctus gravida libero sagittis vestibulum, non posuere quis, eu proin inceptos. Ac adipiscing
                        mauris dis urna semper senectus facilisis nunc eleifend dictum, cubilia hac eget interdum ut
                        quam convallis sodales duis, integer quisque sociosqu tortor finibus venenatis rutrum ridiculus
                        euismod. Nibh aptent dis aenean at hendrerit, phasellus rutrum massa viverra enim, fames commodo
                        curabitur sem. Volutpat curae nullam nulla et porttitor lacus auctor per est sapien, mattis
                        senectus praesent pellentesque maximus non nostra fringilla ac. Nullam pharetra scelerisque nisi
                        sagittis penatibus augue, eget ut platea diam auctor orci, a porta commodo nisl luctus.</p>

                    <p>Ultrices potenti fermentum ex quis in leo ornare praesent, netus blandit nibh accumsan inceptos
                        phasellus nullam, vel ridiculus nunc aliquet bibendum duis sodales. Cras diam amet purus integer
                        interdum condimentum nisi augue, erat nascetur natoque hendrerit netus nibh velit non, facilisi
                        dis eget hac eu vulputate euismod. Curae arcu cras etiam vulputate aenean elit phasellus mollis
                        quisque sit mus eu tristique, efficitur felis velit platea urna rutrum habitasse egestas class
                        parturient ante massa. Fermentum nullam donec lorem sollicitudin aenean diam volutpat eleifend
                        curae nibh massa in ullamcorper convallis mollis turpis nascetur est ante, sodales natoque justo
                        risus quisque maximus parturient urna leo class nunc pulvinar cras finibus mattis auctor varius
                        inceptos. Tempor taciti dictumst per arcu luctus mus molestie fermentum amet penatibus, faucibus
                        condimentum imperdiet turpis id netus sit diam fames, eu nunc curae urna cras porttitor iaculis
                        maximus varius. Suspendisse consectetur curae mauris class lectus hendrerit bibendum porta
                        pharetra nunc, dui at magna massa lacinia feugiat scelerisque interdum velit.</p>

                    <p>Nullam iaculis mattis commodo sem a sollicitudin vulputate fusce, netus molestie ullamcorper quis
                        ut amet dui, volutpat aliquet ornare ex quisque habitasse dapibus. Class fusce consectetur
                        blandit fringilla elit condimentum et hendrerit vulputate, sed varius sapien feugiat per netus
                        nunc nulla. Ultricies placerat scelerisque posuere curae turpis elementum sociosqu volutpat
                        rhoncus, varius semper mollis cras orci non ex imperdiet risus eleifend, porttitor integer
                        habitasse libero himenaeos malesuada viverra cubilia. Nam proin adipiscing suspendisse magna
                        lectus netus risus aliquet tincidunt posuere sagittis libero mi, laoreet duis commodo lorem
                        natoque morbi nullam habitant vulputate egestas arcu. Porttitor fusce vitae ipsum neque et
                        aliquam tempor sem, amet magna suspendisse ut consectetur platea aptent nascetur accumsan, dolor
                        fames pulvinar condimentum vestibulum mattis nam. Condimentum proin aptent penatibus hac
                        suspendisse posuere sem, pretium class primis velit est mattis cursus ultricies, fringilla
                        interdum sodales elit luctus nullam.</p>
                </div>
            </div>
        </main>
    </div>
</body>
<script src="../plugin/bootstrap/js/bootstrap.min.js"></script>
<script src="../plugin/fontawesome/js/all.min.js"></script>
</body>

</html>