<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../plugin/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugin/fontawesome/css/all.min.css">
    <title>Gerenciar Alimentos</title>
</head>

<body>
    <div class="felx-dashboard">
        <sidebar>
            <div class="sidebar-title">
                <img src="../img/Coracao1.png" alt="">
                <h2>Trilha da Saúde</h2>
            </div>
            <div class="sidebar-menu">
                <ul>
                    <li>
                        <i class="fa-solid fa-house-chimney"></i>
                        <a href="dashboard.html"> Dashboard</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-user"></i>
                        <a href="perfil.html"> Perfil</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-weight-scale"></i>
                        <a href="gerenciarPeso.html"> Gerenciar Peso e Altura</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-heart-pulse"></i>
                        <a href="gerenciarPressao.html"> Gerenciar Pressão Arterial</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-person-running"></i>
                        <a href="gerenciarAtividades.html"> Gerenciar Atividade Físicas</a>
                    </li>
                    <li>
                        <i class="fas fa-utensils"></i>
                        <a href="gerenciarAlimentos.html">Gerenciar Alimentos</a>
                    </li>
                    <li>
                        <i class="fas fa-calculator"></i>
                        <a href="calcularIMC.html">Calcular IMC</a>
                    </li>
                </ul>
            </div>
        </sidebar>
        <main>
            <header>
                <a href="dashboard.html"><i class="fa-solid fa-house-chimney"></i> Dashboard</a>
                <a href="../index.html"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
            </header>
            <div class="main-content">
                <div class="main-content-title">
                    <h2>Gerenciar Alimentos</h2>
                </div>
                <div class="panel-row">
                    <button type="button" class="panel panel-50" a-view="cadastrarAlimentos"
                        onclick="fetchContent(this)" a-folder="alimentos"><i class="fas fa-plus"></i>
                        Cadastrar
                        Peso</button>
                    <button type="button" class="panel panel-50" a-view="vizualizaralimentos"
                        onclick="fetchContent(this)" a-folder="alimentos"><i class="fas fa-table"></i>
                        Vizualizar
                        Peso</button>
                </div>
                <div class="content" id="ajax-content">

                </div>
            </div>
        </main>
    </div>
</body>
<script src="../plugin/bootstrap/js/bootstrap.min.js"></script>
<script src="../plugin/fontawesome/js/all.min.js"></script>
<script src="../js/ajax.js"></script>
</body>

</html>